.Photo {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.IconText {
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-size: 18px;
}


h1 {
    color: #3F6345;
    margin: 0px 0 10px 0;

}

p {
    margin: 0px 0 20px 0;
}

.Actions {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}

.Comments {
    margin-left: 40px;
    margin-top: 15px;
}

.Comments span {
    font-weight: bold;
}

.CommentContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}